image: nativecode/node-build:0.0.11

stages:
  - build
  - publish

continuous:
  stage: build
  artifacts:
    paths:
      - node_modules
  script:
    - npm install
    - npm test
  variables:
    GIT_SUBMODULE_STRATEGY: recursive

canary:
  stage: publish
  only:
    - feature/*
    - fix/*
  script:
    - source .ci-env.sh
    - npm run publish:canary
  variables:
    GIT_SUBMODULE_STRATEGY: recursive

prerelease:
  stage: publish
  only:
    - develop
  script:
    - source .ci-env.sh
    - npm run publish:prerelease
  variables:
    GIT_SUBMODULE_STRATEGY: recursive

release:
  stage: publish
  only:
    - master
  script:
    - source .ci-env.sh
    - npm run publish:release
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
