image: nativecode/node-build:v0.0.11

stages:
  - build
  - publish

continuous:
  stage: build
  artifacts:
    paths:
      - node_modules
  script:
    - npm install
    - npm test
  variables:
    GIT_SUBMODULE_STRATEGY: recursive

canary:
  stage: publish
  only:
    - feature/*
    - fix/*
  script:
    - npm install
    - npm run build
    - .citools/lerna-publish canary
  variables:
    GIT_SUBMODULE_STRATEGY: recursive

prerelease:
  stage: publish
  only:
    - develop
  script:
    - npm install
    - npm run build
    - .citools/lerna-publish prerelease
  variables:
    GIT_SUBMODULE_STRATEGY: recursive

release:
  stage: publish
  only:
    - master
  script:
    - npm install
    - npm run build
    - .citools/lerna-publish release
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
